#images{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}
td{
  padding: 20px;
  border: 2px solid black;
}
table,tr{
    width: 80%;
}

a{
    text-decoration: none;
}

.imgClass{

    visibility: hidden;
    
}

